
.text-acercaDeMi {
/*#contResumenAcercaDeMi {*/
    padding-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
    display: inline;
    float: left;
}
#text-acercaDeMi-1 {
    font-style: italic;
    font-weight:bold;
    display: inline;
}
/*
.contParrafosAcercaDeMi .contIndividual-P {
    display: flex;
    flex-wrap: nowrap;
}
.contIndividual-P .btn-edit, .contIndividual-P .btn-delete {

}
*/

