
html{
    font-size: 15px;
}
body{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    background-color: blueviolet;
}

.contPP{
    background-color: aqua;
}
.navbar{
    /*background-color: #000000;*/
}
.navbar-right{
    margin-left: auto;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
    text-align: center;
}
.navbar-dark .navbar-nav .nav-item {
    text-align: center;
}
.nav-link:hover {
    color: rgba(255,255,255,.75);
    background-color: rgba(255,100,100,.75);
}
.navbar-toggler-icon{
    /*color: red;
    background-color: blue;*/
}
.carousel-item{
    height: 350px;
}
.acerca{
    background-color: grey;
}
.contMiFoto{
    text-align: center;
}
.miFoto{
    max-width: 200px;
    max-height: 200px;
    padding: 1rem;
    
}
.contMiTexto{
    padding: 1rem;
}
.lista-sin-punto{
    list-style-type: none;
    margin-bottom: 1.5rem;
}
.cont-img-experiencia, .cont-img-educacion{
    text-align: center;
}
.logo1{
    max-height: 5rem;
}
.logo2{
    max-height: 5rem;
}

/** Proyectos **/
.proyectos{
    /*background: red;*/
}


/** Pie de página - footer **/
.footer{
    color: #ffffff;
    background: #000000;
}

.centrar-h{
    padding-left: 5rem;
}

